#identifier|url|metadata-url 
#Have the CVE-Modified url on the last line, as it would be read-in in the end
CVE-Recent|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-recent.json.gz|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-recent.meta
CVE-2019|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2019.json.gz|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2019.meta
CVE-2018|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2018.json.gz|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2018.meta
CVE-2017|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2017.json.gz|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2017.meta
CVE-2016|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2016.json.gz|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2016.meta
CVE-2015|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2015.json.gz|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2015.meta
CVE-Modified|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-modified.json.gz|https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-modified.meta
